*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}
body{
    overflow-x: hidden;
}
.container{
    width: 900px;
    max-width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
.cartsvg{
    width: 30px;
}
.searchBar input{
    width: 100px;
    font-size: 10px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-in-out;
}

.searchBar input:focus{
    width: 170px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: chocolate;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: transform 0.3s ease;
    border-radius: 5px;
}
.header.unstick{
    position: relative;
    transform: translateY(-100%);
}
.cart-icon{
    position: relative;
}
.cart-icon span{
 display: flex;
 width: 30px;
 height: 30px;
 background-color: #eeeee6;
 justify-content: center;
 align-items: center;
 color: chocolate;
 border-radius: 50%;
 position: absolute;
 top: 50%;
 right: -20px;
}
.ListProduct{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.ListProduct .item{
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
}
.ListProduct .item .name{
    font-weight: 500;
    font-size: large;

}
.ListProduct .item .img{
 width: 90%;
}
.ListProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
    margin-bottom: 10px;
}
.ListProduct .item .addtocart{
    background-color: chocolate;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
}
.image{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: chocolate;
    border-radius: 5px;
}
footer h4{
    font-size: medium;
}
.social-icons{
    width: 100px;
    
}
.sidebar{
    width: 400px;
    background-color: #555;
    color: #eee;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows:  70px 1fr 70px;
    transition: .5s;
}
.head{
    display: flex;
    justify-content: space-between;
}

body.showCart .sidebar{
    inset: 0 0 0 auto;
}
body.showCart .container{
    transform: translatex(-250px);
}
.sidebar .head{
    padding: 20px;
    margin-bottom: 20px;
}
.sidebar .head h1{
    font-weight: 50;
}
.sidebar .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.sidebar .btn button{
    background-color: yellow;
    border: none;
    font-family: poppins;
    font-weight: 500px;
}
.sidebar .btn button .checkOut{
    cursor: pointer;
}
.sidebar .btn .Total{
    background-color: #eee;
}
.sidebar .cartBar .item img{
    width: 100%;
}
.sidebar .cartBar .item{
    display: grid;
    grid-template-columns: 70px 100px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.cartBar .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}
.cartBar .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}
.cartBar .item:nth-child(even){
    background-color: #eee1;
}
.cartBar{
    overflow: auto;
}

@media screen and (max-width: 768px) {
   .ListProduct{
        grid-template-columns: repeat(2, 1fr);
    } 
    .sidebar{
        width: 280px;
    }
    .sidebar .cartBar .item{
    display: grid;
    grid-template-columns: 70px 70px 100px 1fr;
    gap: 20px;
    text-align: center;
    align-items: center;
    }
    .sidebar .head{
        display: flex;
        justify-content: space-between;
    }
    .sidebar .head h1{
        font-size:large
    }
    .sidebar .cartBar .item .name{
        display: none;
    }
    footer h4{
       font-size: small;
    }
}